@use '@ui/styles/variables';
@use '@ui/styles/mixins';

.button {
    outline: none;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.contained {
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-button-bg;
    border-radius: 9px;
    font-weight: 600;

    @include mixins.font-size(11px);
    padding: 10.5px 17.5px;
    line-height: 17px;

    @include mixins.desktop {
        @include mixins.font-size(14px);
        padding: 14.5px 25px;
        line-height: 21px;
    }
}

