$color-white: #FFFFFF;
$color-black: #000000;
$color-snow-drift: #F9F9F9;
$color-cinder: #141416;
$color-dusty-grey: #999999;
$color-ash-grey: #B9B9B9;
$color-seashell: #F1F1F1;
$color-milk-white: #FCFCFD;
$color-platinum: #E6E8EC;
$color-dark: #23262F;
$color-amethyst-smoke: #94A3B8;
$color-desert-storm: #F8F8F8;
$color-oil: #1C1D20;
$color-cloud: #C5C5C5;
$color-carbon-grey: #606060;
