$color-white: #FFFFFF;
$color-black: #000000;
$color-snow: #F9F9F9;
$color-cinder: #141416;
$color-grey: #999999;
$color-ash: #B9B9B9;
$color-seashell: #F1F1F1;
$color-milk: #FCFCFD;
$color-platinum: #E6E8EC;
$color-dark: #23262F;
$color-smoke: #94A3B8;
$color-desert: #F8F8F8;
$color-oil: #1C1D20;
$color-cloud: #C5C5C5;
$color-carbon: #606060;
